<!doctype html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content ="width=device-width,initial scale=1.0">
	<meta https-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- for icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{% block title %}Django{% endblock %}</title>        
	
</head>
<body>

		


{% block content %}
	
	<div class="container">
		<h1>Github OAuth </h1>		
		<form method="post">{% csrf_token %}
			<input type="text" name="name" id="name">		
			<button type="submit">Submit</button>		
		</form>
	

	<!-- {%if request.user.is_authenticated%}
				username:{{request.user.username}}
		{% endif %} -->
		<form method="post">{% csrf_token %}
			
			<table class="centered striped">
				<thead>
					<tr>
						<!-- <th><a><i class="material-icons medium">save</i></a></th> -->
						<th>Username</th>
						<th>type</th>
						
					</tr>
				</thead>
				<tbody>
				{%for one in data%}
					
					<tr>
						<td><div class="input-field">
							<p>
								<input type="checkbox" name="nameToSave" value="{{one.login}}" id="3">
								<label for="3">Check it!</label>
							</p></div>
						</td>
						<td>{{one.login}}</td>
						<td>{{one.type}}</td>
									
					</tr>

				{%endfor%}
				</tbody>
			</table>
			
			<button type="submit" formmethod="POST">Submit</button>
		</form>

	</div>
{% endblock %}
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>