<!doctype html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content ="width=device-width,initial scale=1.0">
	<meta https-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- for icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <title>{% block title %}Django{% endblock %}</title>        
	
</head>
<body>

		


{% block content %}
	
	<div class="container">
		<h1>Github OAuth </h1>		
		<form method="post">{% csrf_token %}
			<input type="text" name="name" id="name">		
			<button type="submit">Submit</button>		
		</form>
	

	<!-- {%if request.user.is_authenticated%}
				username:{{request.user.username}}
		{% endif %} -->
		<form method="get|post">{% csrf_token %}
			<table class="centered striped">
				<thead>
					<tr>
						<th>Username</th>
						<th>type</th>
						
					</tr>
				</thead>
				<tbody>
				{%for one in data%}
					<tr>
						<td name="loginInfo">{{one.login}}</td>
						<td>{{one.type}}</td>
						<td><button type="submit" formmethod="post"><i class="material-icons">save</i></button></td>			
					</tr>

				{%endfor%}
				</tbody>
			</table>
		</form>
		
	</div>
{% endblock %}

</body>