<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content ="width=device-width,initial scale=1.0">
	<meta https-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>        
	<title>WELCOME</title>
</head>

<body>
	
	<nav class="nav-wrapper indigo">
		<div class="container">
			<h1>More on GitHub</h1>

			<div class="col s12 m7">
			    <h2 class="header">Horizontal Card</h2>
			    <div class="card horizontal">
			      <div class="card-image">
			        <img src="img/github.png"/>
			      </div>
			      <div class="card-stacked">
			        <div class="card-content">
			          <p class="black-text">I am a very simple card. I am good at containing small bits of information.</p>
			        </div>
			        <div class="card-action">
			          <a class="waves-effect waves-light btn-large social github black-text" href="{%url "social:begin" "github" %}">
			          	<i class="fa fa-github indigo-text"></i> Sign in with github</a>
			        </div>
			      </div>
			    </div>
  			</div>
			

			
			 
		</div>
	</nav>



	
</body>
</html>