<!doctype html>
<title>{% block title %}Django{% endblock %}</title>
<link rel=stylesheet type=text/css href="">
<h1>Github OAuth </h1>


{% block content %}
	
	<div class="container">
		<form method="post">{% csrf_token %}
			<input type="text" name="name" id="name">
			
			<button type="submit">Submit</button>
			
		</form>
	</div>

	<!-- {%if request.user.is_authenticated%}
				username:{{request.user.username}}

				
		

		{% endif %} -->
	
		<table>
			<tr>
				<th>Username</th>
				<th>type</th>
				<th>Score</th>
			</tr>
			{%for one in data%}
			<tr>
				<td>{{one.login}}</td>
				<td>{{one.type}}</td>
				<td>{{one.score}}</td>
			</tr>

			<tr>{{one.score}}</tr>
			{%endfor%}
		</table>


	

{% endblock %}